*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    background-color: #838488;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.row{
    display: flex;
    width:60%;
    background-color: white;
}
.col-40{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    background-color: #d6d6d8;
}
.col-60{
    width:60%;
}
.profile{
    margin-top: 25px;
    width: 80%;
    border-radius: 50%;
}
.name{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
}
.job-title{
    font-size: 14px;
    margin-bottom: 20px;
    color: #455964;
}
.skills{
    width: 100%;
    margin-top: 20px;
    background-color: #0f5a84;
    padding-bottom: 50px;
}
h2{
    font-weight: 200;
    margin: 0 20%;
    color: white;
    margin-top: -18px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 25px;
    text-align: center;
}
.skill{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #0f5a84;
    padding: 0 20px;
}
span{
    font-size: 30px;
    justify-items: end;
}
.skill-title{
    justify-items: start;
    font-size: 20px;
}
.hobbies{
    width: 100%;
    background-color: #0992c8;
    padding-bottom: 50px;
}
.bg-1{
    background-color: #0f5a84;
}
.bg-2{
    background-color: #0992c8;
}
.bg-3{
    background-color: #2bc4f0;
}
.m-n{
    margin-top: -18px;
}
.contact{
    width: 100%;
    background-color: #2bc4f0;
    padding-bottom: 50px;
}
.hobby{
    display: flex;
    align-items: center;
}
.hobby-img{
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    background-color: white;
}
.hobby-title{
    margin-left: 10px;
    color: white;
    font-size: 18px;
}
.flex-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}
.skill-img{
    width: 20px;
    padding: 0;
}
.skill-wrap{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.contact-info{
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
.contact-img{
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.about-me{
    width: 100%;
    margin-top: 9%;
}
.right-title{
    background-color: #dfe3e4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
}
.right-title h3{
    font-size: 28px;
    font-weight: 400;
    margin-left: 20%;
}
.description{
    padding: 10px 20px;
    line-height: 25px;
    font-size: 18px;
}
.right-icon{
    width: 30px;
}
ul {
    margin-left: 10px;
    margin-top: 10px;
    list-style-type: none;
  }
  li{
      display: flex;
      color: #8b9596;
  }
  li p{
      color: black;
  }
  li a{
      color: #8b9596;
  }
  li a:hover{
      color: #0992c8;
  }
  ul li {
    padding: 0 0 20px 20px;
    position: relative;
    margin: 0;
  }
  ul li:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border: 2px solid #8b9596;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    text-align: center;
    line-height: 10px;
    background: #8b9596;
  }
  ul li:before {
    position: absolute;
    left: 7px;
    top: 0;
    content: "";
    height: 100%;
    width: 0;
    border-left: 2px solid #8b9596;
  }
  ul li:last-of-type:before {
    border: none;
  }
  .education-detail{
      margin-left: 20px;
  }
  .education-detail h3{
      color: black;
  }
  .education-detail strong{
      color: #83c0c5;
  }
  .education-detail p{
      color: #8b9596;;
  }
@media screen and (max-width: 1024px) {
    .row{
        width: 100%;
    }
 }
@media screen and (max-width: 768px) {
    .row{
       width: 100%;
   }
}
@media screen and (max-width: 425px) {
    .row{
        width: 100%;
        flex-direction: column;
    }
    .col-40{
        width: 100%;
    }
    .col-60{
        width: 100%;
    }
 }
 @media print
{    
    .row{
        width: 100%;
    }
}